# backend/requirements.txt

fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
python-multipart
pydantic[email]
pydantic_settings
python-dotenv
boto3
PyMuPDF
python-docx
scikit-learn
openai
passlib[bcrypt]
requests